<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>七鱼社区</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">

    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

</head>
<script type="application/javascript">
    window.onload = function (){
        let closable = window.localStorage.getItem("closable");
        if(closable == "true"){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
<body>


<!--从公共部分提取导航条-->
<div th:replace="common/common :: header"></div>
<div class="myContainer-fluid">
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes"
                     viewBox="0 0 16 16">
                    <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                </svg>
                发现
            </h2>
            <hr>
            <div class="media" th:each="question,questionStat : ${questions.getList()}" th:if="${questions != null}">
                <div>
                    <a href="#">
                        <img class="mr-3 img-thumbnail media-object" alt="头像没了~" onerror="this.src='/images/avatar.png'"
                             th:src="${question.user.avatarUrl}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="mt-0">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>

                    <!--描述-->
                    <span>
                        <div th:id="${question.id}" class="noticeDetailBody simditor-body hide title"
                             th:text="${question.description}" style="max-height: 150px;overflow: hidden"></div>
                    </span>
                    <script>
                        $(function () {
                            let arrs = document.getElementsByClassName("noticeDetailBody simditor-body hide title");
                            for(let i = 0; i < arrs.length; i++){
                                let editor = $(arrs[i])[0];
                                $(editor).removeClass("hide").html(editor.textContent)
                            }
                        });
                    </script>

                    <!--<span th:text="${question.description}"></span><br>-->

                    <span class="text_desc">
                         <span th:text="${question.commentCount}"></span> 个回复 * [[${question.viewCount}]] 次浏览 * [[${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}]]
                    </span>
                    <hr>
                </div>
                <hr/>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li>
                        <a class="page-link" th:href="@{/(page=1,search=${search})}">&lt;&lt;</a>
                        <!--<a class="page-link" th:href="@{/page/1}">&lt;&lt;</a>-->
                    </li>
                    <li th:if="${questions.hasPreviousPage}">
                        <a class="page-link" th:href="@{/(page=${questions.prePage}, search=${search})}">&lt;</a>
                        <!--<a class="page-link" th:href="@{'/page/' + ${questions.prePage}}">&lt;</a>-->
                    </li>
                    <li th:each="page : ${questions.getNavigatepageNums}"
                        th:class="${questions.pageNum == page} ? 'active page-link':'page-link'">
                        <a th:href="@{/(page=${page}, search=${search})}" th:text="${page}"></a>
                        <!--<a th:href="@{'/page/' + ${page}}" th:text="${page}"></a>-->
                    </li>
                    <li th:if="${questions.hasNextPage}">
                        <a class="page-link" th:href="@{/(page=${questions.nextPage}, search=${search})}">&gt;</a>
                        <!--<a class="page-link" th:href="@{'/page/' + ${questions.nextPage}}">&gt;</a>-->
                    </li>
                    <li>
                        <a class="page-link" th:href="@{/(page=${questions.getPages()}, search=${search})}">&gt;&gt;</a>
                        <!--<a class="page-link" th:href="@{'/page/' + ${questions.getPages()}}">&gt;&gt;</a>-->
                    </li>

                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
            <h3>热门话题</h3></br>
            ·问题标题：请用精简的语言描述您发布的问题，不超过25字</br>
            ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料。</br>
            ·选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</br>
        </div>
    </div>
</div>

<!--页脚-->
<div th:replace="common/common :: footer"></div>


</body>
</html>