<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>七鱼社区</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">

    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.bundle.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">七鱼社区</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="搜索你的问题" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown" th:if="${session.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.getLogin()}">

                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">消息中心</a></li>
                        <li><a class="dropdown-item" href="#">个人资料</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://gitee.com/oauth/authorize?client_id=333bd3155df1290cfb826e985151c38a2f3409c174ea775cbeecc8b17e75ec4f&redirect_uri=http://localhost:8887/callback&response_type=code&scope=user_info">登录</a>
                    <!--<a href="https://github.com/login/oauth/authorize?client_id=53f0a0161e8d27c17848&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>-->
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>