<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 必须的 meta 标签 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title th:text="${sectionName}"></title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">


    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
<body>

<!--从公共部分提取导航条-->
<div th:replace="common/navbar :: header"></div>
<div class="myContainer-fluid profile">
    <div class="row">
        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boxes"
                     viewBox="0 0 16 16">
                    <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434L7.752.066ZM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567L4.25 7.504ZM7.5 9.933l-2.75 1.571v3.134l2.75-1.571V9.933Zm1 3.134 2.75 1.571v-3.134L8.5 9.933v3.134Zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567-2.742 1.567Zm2.242-2.433V3.504L8.5 5.076V8.21l2.75-1.572ZM7.5 8.21V5.076L4.75 3.504v3.134L7.5 8.21ZM5.258 2.643 8 4.21l2.742-1.567L8 1.076 5.258 2.643ZM15 9.933l-2.75 1.571v3.134L15 13.067V9.933ZM3.75 14.638v-3.134L1 9.933v3.134l2.75 1.571Z"/>
                </svg>
                <span th:text="${sectionName}"></span>
            </h2>
            <hr>
            <div th:if="${section == 'questions'}">
                <div class="media" th:each="question : ${sectionContent.getList()}" th:if="${sectionContent != null}">
                    <div>
                        <a href="#">
                            <img class="mr-3 img-thumbnail media-object" alt="Bootstrap Media Preview"
                                 th:src="${question.user.avatarUrl}"/>
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="mt-0">
                            <a th:text="${question.title}" th:href="@{'/question/' + ${question.id}}"></a>
                        </h4>
                        <span th:text="${question.description}"></span><br>
                        <span class="text_desc">
                         <span th:text="${question.commentCount}"></span> 个回复  * [[${question.viewCount}]] 次浏览  * [[${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}]]
                            * <a th:href="@{'/publish/' + ${question.id}}" class="community-menu"
                                 style="margin-bottom: 20px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                        编辑
                    </a>
                    </span>
                        <hr>
                    </div>
                    <hr/>
                </div>
            </div>
            <div th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${sectionContent.getList()}" th:if="${sectionContent != null}">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <a th:text="${notification.notifierUser.name}" th:href="@{'#'}"></a>
                            <span th:text="${notification.type}"></span>
                            <a th:text="${notification.title}" th:href="@{'/notification/' + ${notification.id}}"></a>
                            <button type="button" class="btn btn-danger" th:if="${notification.status == 1}" style="line-height: 15px">未读</button>
                        </h5>
                        <br>
                    </div>
                    <hr/>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation" th:if="${sectionContent != null}">
                <ul class="pagination justify-content-end">
                    <li>
                        <a class="page-link" th:href="@{'/profile/' + ${section}(page=1)}">&lt;&lt;</a>
                    </li>
                    <li th:if="${sectionContent.hasPreviousPage}">
                        <a class="page-link" th:href="@{'/profile/' + ${section}(page=${sectionContent.prePage})}">&lt;</a>
                    </li>
                    <li th:each="page : ${sectionContent.getNavigatepageNums}"
                        th:class="${sectionContent.pageNum == page} ? 'active page-link':'page-link'">
                        <a th:href="@{'/profile/' + ${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${sectionContent.hasNextPage}">
                        <a class="page-link" th:href="@{'/profile/' + ${section}(page=${sectionContent.nextPage})}">&gt;</a>
                    </li>
                    <li>
                        <a class="page-link" th:href="@{'/profile/' + ${section}(page=${sectionContent.getPages()})}">&gt;&gt;</a>
                    </li>

                </ul>
            </nav>

        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section == 'questions'} ? 'active list-group-item':'list-group-item'">
                    我的问题
                    <span class="badge badge-primary badge-pill">14</span>
                </a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'} ? 'active list-group-item':'list-group-item'">
                    最新回复
                    <span class="badge badge-primary badge-pill" th:text="${session.unreadNotification}"></span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>